name: .NET Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x' 

    - name: Restore dependencies
      run: dotnet restore Library.sln

    - name: Build solution
      run: dotnet build Library.sln --no-restore

    - name: Run tests
      run: dotnet test Library.Tests/Library.Tests.csproj --no-build
      